.bodyStyling {
  background-color: #0090d1;
}

.containerStyling {
  background-color: #5cacd2;
  border-radius: 1rem;
  margin-top: 10%;
}

.logoBinus {
  width: 20rem;
  height: 12rem;
  margin: 0;
}

.headerBodyStyling {
  background-color: #0090d1;
}

.pageContainer {
  background-color: #5cacd2;
}

.nav-links {
  display: flex;
  list-style-type: none;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  font-weight: 500;
  width: 100%;
}

.asset-container {
  height: 82vh;
  padding: 2rem 3.5rem;
}
