.bodyStyling {
  background-color: #4ca8c8;
}

.containerStyling {
  background-color: #88bdcf;
  border-radius: 1rem;
  margin-top: 10%;
}

.headerBodyStyling {
  background-color: #4ca8c8;
}

.pageContainer {
  background-color: #88bdcf;
}

.nav-links {
  display: flex;
  list-style-type: none;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  font-weight: 500;
  margin: 0;
}

.asset-container {
  height: 82vh;
  padding: 2rem 3.5rem;
}
